$lite_blue_color: #0167ff;
$dark_blue_color: #002e73;
.ultimate-view-as-customer-for-woocommerce-settings-admin-page {
  .bg-lite-blue {
    background-color: $lite_blue_color;
  }
  .bg-dark-blue {
    background-color: $dark_blue_color;
  }
  .text-lite-blue {
    color: $lite_blue_color;
  }
  .text-dark-blue {
    color: $dark_blue_color;
  }
  .list-inline {
    padding-left: 0;
    list-style: none;
    .list-inline-item {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  svg {
    max-width: 100%;
    height: auto;
  }
  .tooltip {
    cursor: help;
    :after {
      font-size: 12px;
    }
  }
  .ultimate-view-as-customer-for-woocommerce-setting-unit {
    &.switch-setting-unit {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      border: 1px solid #e1e4e7;
      background-color: #f9fafe;
      padding: 20px;
      border-radius: 16px;
      .text-label {
        color: #0c0c0c;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        i {
          color: #bbbfc3;
        }
      }
      .description {
        margin-top: 12px;
        p {
          margin-bottom: 0;
        }
      }
      .switcher {
        font-family: "Roboto", sans-serif;
        label {
          display: block;
          float: left !important;
          cursor: pointer;
          position: relative;
          width: 36px;
          flex: 0 0 36px;
          height: 18px;
          padding: 0;
          margin: 0;
          overflow: hidden;
          -moz-border-radius: 20px;
          -webkit-border-radius: 20px;
          border-radius: 20px;
          span {
            position: absolute;
            top: 2px;
            left: 2px;
            width: 14px;
            height: 14px;
            background-color: #fff;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            -moz-transition: left 0.15s ease-out;
            -o-transition: left 0.15s ease-out;
            -webkit-transition: left 0.15s ease-out;
            transition: left 0.15s ease-out;
          }
          input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            &:checked {
              ~ {
                em {
                  background-color: $lite_blue_color;
                  &:before {
                    opacity: 0;
                  }
                  &:after {
                    opacity: 1;
                  }
                }
                span {
                  left: 20px;
                }
              }
            }
          }
          em {
            font-family: "Roboto", sans-serif;
            font-size: 11px;
            line-height: 26px;
            font-weight: 500;
            font-style: normal;
            text-transform: uppercase;
            color: #fff;
            position: relative;
            display: block;
            height: inherit;
            background-color: #b2b2b2;
            -moz-transition: background 0.15s ease-out;
            -o-transition: background 0.15s ease-out;
            -webkit-transition: background 0.15s ease-out;
            transition: background 0.15s ease-out;
            &:before {
              position: absolute;
              -moz-transition: opacity 0.15s ease-out;
              -o-transition: opacity 0.15s ease-out;
              -webkit-transition: opacity 0.15s ease-out;
              transition: opacity 0.15s ease-out;
              // content: attr(data-off);
              right: 14px;
            }
            &:after {
              position: absolute;
              -moz-transition: opacity 0.15s ease-out;
              -o-transition: opacity 0.15s ease-out;
              -webkit-transition: opacity 0.15s ease-out;
              transition: opacity 0.15s ease-out;
              // content: attr(data-on);
              left: 14px;
              opacity: 0;
            }
          }
        }
        .text-desc {
          float: left;
          margin-left: 5px;
          margin-top: 0;
          padding-top: 4px;
        }
      }
    }
    & + .ultimate-view-as-customer-for-woocommerce-setting-unit {
      margin-top: 32px;
    }
  }

  background-color: #f7f6f9;
  #wpwrap {
    #wpcontent {
      padding-left: 0;
      #wpbody {
        #wpbody-content {
          padding-bottom: 0;
          height: 100%;
          .notice {
            display: none !important;
          }
          .ultimate-view-as-customer-for-woocommerce-settings-wrapper {
            .ultimate-view-as-customer-for-woocommerce-settings-container {
              padding: 30px 15px;
              .topbar-part {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                padding: 10px 15px;
                color: #ffffff;
                font-size: 16px;
                line-height: 20px;
                strong {
                  font-weight: 500;
                }
                span {
                  background: #e6f0ff;
                  padding: 2px 6px;
                  border-radius: 2px;
                }
              }
              .header-part {
                padding: 20px 15px;
                border-bottom: 1px solid $lite_blue_color;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                .d-flex {
                  gap: 20px;
                }
                ul {
                  li {
                    padding: 0;
                    margin: 0;
                    a {
                      color: #ffffff;
                      font-size: 16px;
                      font-weight: 500;
                      line-height: 20px;
                      text-decoration: none;
                      display: block;
                      svg {
                        display: inline-block;
                        vertical-align: top;
                      }
                      &::before {
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 8px;
                      }
                      &.welcome-link {
                        border-left: 1px solid #ffffff;
                        padding-left: 20px;
                        &::before {
                          content: url('data:image/svg+xml,<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_3319_11032)"><path d="M18.993 10.818C19.3625 10.4492 19.5663 9.95853 19.5665 9.43639C19.5668 8.91424 19.3636 8.42338 18.9944 8.05416C18.8121 7.87158 18.5952 7.72724 18.3564 7.6296L19.1584 6.83061C19.5289 6.46195 19.7332 5.97113 19.7338 5.4485C19.7344 4.92587 19.5313 4.43454 19.1617 4.06499L19.141 4.04423C18.8664 3.76912 18.5156 3.58276 18.1339 3.50928C18.1563 3.39052 18.1682 3.26893 18.1683 3.14541C18.1689 2.62287 17.9657 2.13157 17.5962 1.7621L17.5708 1.73662C17.2018 1.36767 16.7113 1.16449 16.1896 1.16449C15.8373 1.16449 15.4994 1.25744 15.2035 1.43117C15.1058 1.16711 14.952 0.9274 14.7526 0.728611L14.7358 0.711726C13.9743 -0.0496887 12.7351 -0.0498087 11.9735 0.711766L6.75382 5.93152L7.40217 3.25408C7.65832 2.19618 7.08027 1.11744 6.05759 0.744775C5.48206 0.535036 4.8434 0.58281 4.30541 0.875652C3.76742 1.16849 3.38067 1.67896 3.24431 2.27617L3.15541 2.66572C2.73017 4.52844 2.02725 6.40029 1.06618 8.22913C0.346015 9.59951 0.0717381 11.2022 0.293881 12.7419C0.523706 14.335 1.24835 15.7803 2.38951 16.9214C3.79031 18.3222 5.65211 19.0934 7.63295 19.0933H7.63799C9.62063 19.0921 11.4836 18.3182 12.8837 16.9144L14.3781 15.4161L18.993 10.818ZM12.0338 16.0667C10.8603 17.2433 9.2989 17.8919 7.63723 17.893H7.63299C5.97288 17.893 4.41228 17.2466 3.23827 16.0726C2.28176 15.1161 1.67443 13.9051 1.4819 12.5705C1.2956 11.2792 1.52535 9.93569 2.12876 8.78748C3.13816 6.8667 3.87733 4.89691 4.32566 2.93283L4.41456 2.54332C4.47514 2.27793 4.64019 2.06011 4.87929 1.92995C5.1184 1.79979 5.391 1.77947 5.64671 1.87261C6.0946 2.03582 6.34779 2.50827 6.2356 2.9716L5.08447 7.72506C4.94791 8.21504 5.57917 8.76084 6.09216 8.2907L12.8223 1.56057C13.1159 1.26692 13.5936 1.267 13.8866 1.56001L13.9034 1.57685C14.0456 1.71909 14.1239 1.9081 14.1239 2.10924C14.1239 2.31038 14.0456 2.49943 13.9034 2.64167L9.76779 6.77728C9.53341 7.01162 9.53341 7.39165 9.76779 7.62604C10.0022 7.86042 10.3822 7.86042 10.6166 7.62604L15.6573 2.58541C15.7995 2.44317 15.9885 2.36487 16.1896 2.36487C16.3908 2.36487 16.5798 2.44317 16.7221 2.58541L16.7476 2.6109C16.8178 2.68075 16.8735 2.76386 16.9113 2.85539C16.9492 2.94693 16.9685 3.04508 16.9681 3.14413C16.9683 3.24321 16.9487 3.34133 16.9106 3.4328C16.8726 3.52427 16.8167 3.60726 16.7463 3.67696C15.2414 5.17583 13.1833 7.22504 11.6936 8.7097C11.4587 8.94365 11.458 9.32364 11.6919 9.5585C11.7476 9.61456 11.8139 9.65903 11.8869 9.68935C11.9598 9.71966 12.0381 9.73521 12.1171 9.73511C12.2703 9.73511 12.4236 9.67681 12.5407 9.56018C13.5421 8.56266 16.2704 5.84485 17.2287 4.89175C17.5223 4.59962 17.9994 4.60018 18.2922 4.89299L18.313 4.91375C18.4554 5.05623 18.5337 5.2456 18.5335 5.44706C18.5333 5.64852 18.4545 5.83773 18.3115 5.98001C16.8518 7.43398 14.54 9.73639 13.0931 11.1788C12.8583 11.4128 12.8575 11.7928 13.0915 12.0276C13.1472 12.0837 13.2134 12.1281 13.2864 12.1584C13.3594 12.1888 13.4376 12.2043 13.5166 12.2042C13.6699 12.2042 13.8231 12.1459 13.9402 12.0292L16.6923 9.2875L17.0836 8.9002C17.3772 8.60963 17.8536 8.61095 18.1457 8.90292C18.2159 8.97271 18.2715 9.05575 18.3093 9.1472C18.3472 9.23866 18.3665 9.33673 18.3662 9.43571C18.3664 9.53462 18.347 9.6326 18.3091 9.72397C18.2712 9.81533 18.2156 9.89827 18.1454 9.96798L13.5295 14.5671L12.0338 16.0667ZM18.2687 14.9842C18.3992 14.6795 18.2579 14.3267 17.9532 14.1963C17.6485 14.0658 17.2957 14.2071 17.1653 14.5118C16.9639 14.9821 16.6766 15.4059 16.3112 15.7713C15.8648 16.2176 15.3373 16.5444 14.7434 16.7425C14.4289 16.8474 14.2591 17.1873 14.3639 17.5017C14.4478 17.7532 14.6819 17.9122 14.9332 17.9122C14.9961 17.9122 15.0602 17.9022 15.1232 17.8812C15.8954 17.6236 16.5807 17.1993 17.16 16.62C17.6339 16.146 18.007 15.5956 18.2687 14.9842ZM19.8549 15.3152C19.5502 15.1846 19.1974 15.3256 19.0668 15.6303C18.7863 16.2845 18.3865 16.8738 17.8783 17.382C17.2872 17.9731 16.592 18.4146 15.8119 18.6942C15.4999 18.8061 15.3376 19.1497 15.4495 19.4618C15.5374 19.7069 15.7683 19.8595 16.0145 19.8595C16.0817 19.8595 16.1501 19.8482 16.2171 19.8242C17.1652 19.4842 18.0097 18.9481 18.727 18.2308C19.3437 17.6142 19.8291 16.8984 20.17 16.1033C20.3006 15.7986 20.1595 15.4458 19.8549 15.3152Z" fill="white"/><circle cx="16.2188" cy="16" r="3.5" fill="%23FF0000" stroke="white"/></g><defs><clipPath id="clip0_3319_11032"><rect width="20" height="20" fill="white" transform="translate(0.21875)"/></clipPath></defs></svg>');
                        }
                      }
                      &.leanrmore-link {
                        &::before {
                          content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_3319_11051)"><path d="M9.9982 0.384766C4.68297 0.384766 0.382812 4.69934 0.382812 10.0001C0.382812 15.2887 4.66743 19.6155 9.9982 19.6155C15.3116 19.6155 19.6136 15.3023 19.6136 10.0001C19.6136 4.70277 15.316 0.384766 9.9982 0.384766ZM16.7881 15.6698C16.0355 15.283 15.1825 14.9808 14.3537 14.7656C14.7421 13.4404 14.9628 11.945 14.994 10.3848H18.836C18.752 12.3251 18.0342 14.179 16.7881 15.6698ZM3.20827 15.6698C1.9622 14.179 1.24439 12.3251 1.16039 10.3848H5.00235C5.03358 11.945 5.25431 13.4404 5.6427 14.7656C4.81304 14.9813 3.97443 15.2776 3.20827 15.6698ZM3.20827 4.33046C3.9732 4.72234 4.81427 5.019 5.6427 5.23465C5.25431 6.55992 5.03358 8.05523 5.00235 9.61553H1.16039C1.24439 7.67511 1.9622 5.82127 3.20827 4.33046ZM14.116 4.50284C13.7265 3.41715 13.1469 2.2833 12.336 1.4698C13.8037 1.87296 15.1557 2.65103 16.2475 3.74007C15.5802 4.06215 14.8147 4.32815 14.116 4.50284ZM10.3828 4.99569V1.19196C11.322 1.376 12.2105 2.2305 12.9177 3.64503C13.0795 3.96857 13.2272 4.31296 13.3606 4.67496C12.3803 4.87169 11.3746 4.97469 10.3828 4.99569ZM9.61358 4.99569C8.61339 4.97453 7.60497 4.86984 6.63577 4.67496C6.76912 4.31292 6.91689 3.96853 7.07862 3.64503C7.78589 2.2305 8.67435 1.37596 9.61358 1.19196V4.99569ZM9.61358 5.76507V9.61553H5.7717C5.80289 8.1105 6.01685 6.67388 6.39231 5.40938C7.38858 5.61557 8.4787 5.742 9.61358 5.76507ZM9.61358 10.3848V14.2352C8.5417 14.257 7.43785 14.3736 6.39235 14.5909C6.01685 13.3264 5.80289 11.8898 5.7717 10.3848H9.61358ZM9.61358 15.0046V18.8083C8.67435 18.6243 7.78589 17.7698 7.07862 16.3553C6.91685 16.0317 6.76912 15.6873 6.63577 15.3253C7.56762 15.1372 8.58166 15.0265 9.61358 15.0046ZM10.3828 15.0046C11.4124 15.0264 12.4223 15.1363 13.3606 15.3253C13.2272 15.6873 13.0795 16.0317 12.9177 16.3553C12.2105 17.7698 11.322 18.6243 10.3828 18.8083V15.0046ZM10.3828 14.2352V10.3848H14.2247C14.1935 11.8898 13.9796 13.3264 13.604 14.5909C12.6137 14.3852 11.5162 14.2583 10.3828 14.2352ZM10.3828 9.61553V5.76507C11.5305 5.74173 12.6164 5.6135 13.6041 5.40938C13.9796 6.67384 14.1935 8.1105 14.2247 9.61553H10.3828ZM5.88043 4.50284C5.15927 4.32073 4.41654 4.0628 3.74885 3.74007C4.84066 2.65103 6.19266 1.87296 7.66043 1.4698C6.84827 2.2845 6.26893 3.4198 5.88043 4.50284ZM5.88043 15.4975C6.26877 16.5802 6.8482 17.7158 7.66043 18.5305C6.19266 18.1273 4.84066 17.3492 3.74885 16.2602C4.41754 15.9368 5.16062 15.6801 5.88043 15.4975ZM14.1159 15.4975C14.8052 15.6697 15.5805 15.9374 16.2475 16.2602C15.1557 17.3492 13.8037 18.1273 12.336 18.5305C13.1482 17.7157 13.7277 16.5801 14.1159 15.4975ZM14.994 9.61553C14.9628 8.05523 14.7421 6.55992 14.3537 5.23465C15.1964 5.0158 16.0404 4.71392 16.7881 4.3305C18.0342 5.82127 18.752 7.67515 18.836 9.61557H14.994V9.61553Z" fill="white"/></g><defs><clipPath id="clip0_3319_11051"><rect width="20" height="20" fill="white"/></clipPath></defs></svg>');
                        }
                      }
                      &.review-link {
                        border-left: 1px solid #ffffff;
                        padding-left: 20px;
                        margin-left: 20px;
                      }
                    }
                  }
                }
              }
              .content-part {
                padding-top: 30px;
                padding-bottom: 30px;
                margin-bottom: 84px;
                position: relative;
                background: #f7f6f9;
                margin-left: auto;
                margin-right: auto;
                z-index: 2;
                .content-header {
                  background-image: url(../images/banner-image-1.png);
                  background-size: contain;
                  background-position: center center;
                  background-repeat: no-repeat;
                  min-height: 250px;
                  h4 {
                    color: #000000;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 20px;
                    margin-top: 0;
                    margin-bottom: 20px;
                  }
                  p {
                    padding-left: 15px;
                    padding-right: 15px;
                    color: #757575;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    margin: 0;
                  }
                }
                .area-media {
                }
              }

              .footer-part {
                padding-top: 32px;
                padding-bottom: 32px;
                color: #757575;
                font-size: 14px;
                font-weight: 6400;
                line-height: 20px;                
                a {
                  color: #757575;
                }
              }
            }
          }
        }
      }
    }

    #wpfooter {
      display: none;
    }
  }
}
