#ultimate_view_as_customer_for_woocommerce_switch_on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #002e73;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  z-index: 9999;
  display: flex;
  align-items: center;
  height: 64px;
  justify-content: center;

  .current-user-data {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 16px;
    &::before {
      width: 40px;
      height: 40px;
      display: inline-block;
      content: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" fill="%230167FF"/><path d="M31.8474 19.5331C31.633 19.2398 26.5244 12.3516 19.9999 12.3516C13.4753 12.3516 8.36647 19.2398 8.1523 19.5328C8.05333 19.6684 8 19.8319 8 19.9998C8 20.1676 8.05333 20.3311 8.1523 20.4667C8.36647 20.76 13.4753 27.6482 19.9999 27.6482C26.5244 27.6482 31.633 20.76 31.8474 20.4669C31.9465 20.3314 31.9999 20.1679 31.9999 20C31.9999 19.8321 31.9465 19.6686 31.8474 19.5331ZM19.9999 26.0658C15.1938 26.0658 11.0313 21.494 9.79906 19.9994C11.0297 18.5034 15.1835 13.934 19.9999 13.934C24.8057 13.934 28.9679 18.505 30.2007 20.0004C28.97 21.4963 24.8162 26.0658 19.9999 26.0658Z" fill="white"/><path d="M19.9999 15.2527C17.3823 15.2527 15.2526 17.3824 15.2526 20C15.2526 22.6175 17.3823 24.7472 19.9999 24.7472C22.6175 24.7472 24.7471 22.6175 24.7471 20C24.7471 17.3824 22.6175 15.2527 19.9999 15.2527ZM19.9999 23.1648C18.2547 23.1648 16.8351 21.7451 16.8351 20C16.8351 18.2548 18.2548 16.8351 19.9999 16.8351C21.745 16.8351 23.1647 18.2548 23.1647 20C23.1647 21.7451 21.745 23.1648 19.9999 23.1648Z" fill="white"/></svg>');
    }
  }
  .switch-to-another {    
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      background-color: #0143A5;
      height: 32px;
      width: 2px;
      display: block;
      margin-left: 24px;
      margin-right: 24px;  
    }
    .header-text {
      color: #ffffff;
      background-color: #0167ff;
      border: 1px solid #0167ff;
      border-radius: 3px;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      display: flex;
      align-items: center;
      gap: 8px;
      &::after {
        content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        width: 24px;
        height: 24px;
      }
    }
    .hover-content {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 281px;
      // background-color: #393f4c;
      box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
      background-color: #2c3338;
      padding: 10px;
      .ab-item {
        height: auto !important;
        width: 261px;
        box-sizing: border-box;
        margin-bottom: 10px;
        form.search-user {
          width: 100%;
          display: flex;
          gap: 10px;
          .input-wrap {
            position: relative;
            flex: 1;
            .search-user-input,
            .search-user-input-from-frontend {
              background-color: #f1f7ff;
              border-radius: 4px;
              padding: 8px 10px;
              height: 32px;
              box-sizing: border-box;
              width: 100%;
            }
            .search-result {
              position: absolute;
              z-index: 9;
              width: 100%;
              background-color: #f1f7ff;
              box-shadow: -1px 6px 20px 0px #8fa8b71a;
              border-radius: 4px;
              overflow: hidden;
              margin-top: 5px;
              ul {
                max-height: 130px;
                overflow-y: scroll;
                li {
                  height: auto;
                  a {
                    color: #757575;
                    display: block;
                    padding: 8px 10px;
                    box-sizing: border-box;
                    line-height: 1.2;
                  }
                  &:hover {
                    a {
                      background-color: #0167ff;
                      color: #ffffff;
                    }
                  }
                }
                /* width */
                &::-webkit-scrollbar {
                  width: 4px;
                }
      
                /* Track */
                &::-webkit-scrollbar-track {
                  box-shadow: inset 0 0 5px #ffffff;
                  border-radius: 10px;
                }
      
                /* Handle */
                &::-webkit-scrollbar-thumb {
                  background: #929292;
                  border-radius: 10px;
                }
      
                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                  background: #929292;
                }
              }
            }
          }
          .search-user-btn {
            background-color: #0167ff;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            padding: 8px 10px;
            border-radius: 4px;
            flex: 0 0 63px;
            width: 63px;
            border-style: none;
          }
        }
      
        .title-part {
          display: inline-block;
          width: auto;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: #ffffff;
          border-bottom: 1px solid #f2f2f2;
        }
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          a {
            color: #c3c4c7;
            display: block;
            &:hover {
              color: rgba(240, 246, 252, .7);
            }
          }
        }
      }
    }
  }
  .switch-to-old {
    position: absolute;
    right: 32px;
    display: flex;
    align-items: center;
    height: 64px;
    top: 0;
    a {
      display: inline-block;
      color: #ffffff;
      background-color: #0167ff;
      border: 1px solid #0167ff;
      border-radius: 3px;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      display: flex;
      align-items: center;
      gap: 16px;
      &:focus {
        outline: none!important;
      }
      &::before {
        width: 24px;
        height: 24px;
        display: inline-block;
        content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0358 10.4625C10.9777 10.4625 11.8985 10.1832 12.6817 9.65988C13.4649 9.13657 14.0753 8.39277 14.4357 7.52253C14.7962 6.6523 14.8905 5.69472 14.7068 4.77088C14.523 3.84705 14.0694 2.99845 13.4034 2.33241C12.7373 1.66636 11.8887 1.21277 10.9649 1.02901C10.0411 0.84525 9.08347 0.939564 8.21324 1.30003C7.34301 1.66049 6.59921 2.27091 6.07589 3.0541C5.55258 3.83729 5.27327 4.75807 5.27327 5.7C5.27387 6.96291 5.77582 8.17393 6.66883 9.06694C7.56184 9.95995 8.77286 10.4619 10.0358 10.4625ZM10.0358 2.0625C10.7552 2.0625 11.4585 2.27584 12.0567 2.67553C12.6548 3.07523 13.1211 3.64332 13.3964 4.30799C13.6717 4.97266 13.7437 5.70404 13.6034 6.40964C13.463 7.11525 13.1166 7.76339 12.6079 8.2721C12.0992 8.78082 11.451 9.12725 10.7454 9.26761C10.0398 9.40796 9.30842 9.33593 8.64376 9.06061C7.97909 8.7853 7.41099 8.31907 7.0113 7.72089C6.6116 7.1227 6.39827 6.41943 6.39827 5.7C6.39867 4.7354 6.78203 3.81042 7.46411 3.12834C8.14618 2.44626 9.07117 2.0629 10.0358 2.0625ZM13.086 12.1988C13.1357 12.058 13.1276 11.9033 13.0633 11.7686C12.9991 11.6339 12.8839 11.5302 12.7433 11.4803C11.518 11.0481 10.207 10.9161 8.92014 11.0951C7.63331 11.2742 6.40815 11.7592 5.34741 12.5094C4.28667 13.2597 3.42126 14.2533 2.82374 15.407C2.22622 16.5606 1.914 17.8408 1.91327 19.14C1.91327 19.2892 1.97253 19.4323 2.07802 19.5378C2.18351 19.6432 2.32658 19.7025 2.47577 19.7025C2.62495 19.7025 2.76803 19.6432 2.87352 19.5378C2.97901 19.4323 3.03827 19.2892 3.03827 19.14C3.03852 18.0205 3.30723 16.9175 3.82185 15.9233C4.33648 14.9292 5.08202 14.0729 5.99593 13.4264C6.90983 12.78 7.96546 12.3621 9.07423 12.2078C10.183 12.0536 11.3126 12.1675 12.3683 12.54C12.5087 12.5896 12.6631 12.5815 12.7976 12.5175C12.9321 12.4536 13.0358 12.339 13.086 12.1988ZM16.7558 15.189C16.3066 15.1892 15.8676 15.3225 15.4943 15.5721C15.1209 15.8217 14.8299 16.1765 14.6582 16.5914C14.4864 17.0064 14.4415 17.463 14.5292 17.9035C14.617 18.344 14.8333 18.7486 15.1509 19.0661C15.4686 19.3836 15.8732 19.5999 16.3137 19.6874C16.7543 19.775 17.2108 19.73 17.6258 19.5581C18.0407 19.3862 18.3953 19.0951 18.6448 18.7216C18.8943 18.3482 19.0275 17.9091 19.0275 17.46C19.0271 16.8577 18.7876 16.2802 18.3617 15.8543C17.9357 15.4285 17.3581 15.1892 16.7558 15.189ZM16.7558 18.606C16.5291 18.6059 16.3076 18.5385 16.1193 18.4125C15.9309 18.2865 15.7842 18.1075 15.6975 17.898C15.6109 17.6886 15.5883 17.4582 15.6326 17.236C15.6769 17.0137 15.7861 16.8096 15.9464 16.6494C16.1067 16.4892 16.3109 16.3801 16.5332 16.336C16.7555 16.2918 16.9859 16.3145 17.1952 16.4013C17.4046 16.4881 17.5835 16.635 17.7094 16.8234C17.8353 17.0118 17.9025 17.2334 17.9025 17.46C17.9023 17.764 17.7814 18.0555 17.5664 18.2704C17.3513 18.4853 17.0598 18.606 16.7558 18.606Z" fill="white"/><path d="M21.5918 17.7796C21.6059 17.5663 21.6059 17.3523 21.5918 17.1391L22.0418 16.0418C22.0938 15.9154 22.098 15.7744 22.0538 15.6451C21.8184 14.9584 21.4521 14.324 20.9753 13.7768C20.8853 13.674 20.7611 13.6074 20.6258 13.5893L19.4483 13.4318C19.2705 13.3129 19.0851 13.2059 18.8933 13.1116L18.1688 12.1711C18.0853 12.0629 17.9653 11.9888 17.8313 11.9626C17.1191 11.8224 16.3864 11.8224 15.6743 11.9626C15.5402 11.9888 15.4202 12.0629 15.3368 12.1711L14.6115 13.1123C14.4195 13.2065 14.2341 13.3135 14.0565 13.4326L12.8798 13.5893C12.7444 13.6074 12.6202 13.674 12.5303 13.7768C12.0534 14.324 11.6871 14.9584 11.4518 15.6451C11.4075 15.7744 11.4117 15.9154 11.4638 16.0418L11.9138 17.1406C11.8996 17.3538 11.8996 17.5678 11.9138 17.7811L11.4638 18.8783C11.4117 19.0047 11.4075 19.1457 11.4518 19.2751C11.6871 19.9617 12.0533 20.5961 12.5303 21.1433C12.6201 21.2462 12.7444 21.3128 12.8798 21.3308L14.0573 21.4883C14.235 21.6072 14.4204 21.7141 14.6123 21.8086L15.3368 22.7491C15.4202 22.8572 15.5402 22.9313 15.6743 22.9576C16.3864 23.0978 17.1191 23.0978 17.8313 22.9576C17.9653 22.9313 18.0853 22.8572 18.1688 22.7491L18.894 21.8078C19.086 21.7136 19.2714 21.6066 19.449 21.4876L20.6258 21.3308C20.7612 21.3128 20.8854 21.2462 20.9753 21.1433C21.453 20.5963 21.82 19.9619 22.056 19.2751C22.1003 19.1457 22.096 19.0047 22.044 18.8783L21.5918 17.7796ZM20.2628 20.2441L19.1685 20.3941C19.0776 20.4062 18.9911 20.4405 18.9165 20.4938C18.7228 20.6313 18.5167 20.7503 18.3008 20.8493C18.2172 20.8869 18.1443 20.9446 18.0885 21.0173L17.4135 21.8918C16.9772 21.957 16.5336 21.957 16.0973 21.8918L15.4223 21.0173C15.3665 20.9446 15.2935 20.8869 15.21 20.8493C14.9941 20.7503 14.7879 20.6313 14.5943 20.4938C14.5197 20.4405 14.4331 20.4062 14.3423 20.3941L13.248 20.2441C12.9735 19.8986 12.7516 19.5144 12.5895 19.1041L13.0095 18.0826C13.0444 17.9979 13.058 17.906 13.0493 17.8148C13.0266 17.5783 13.0266 17.3403 13.0493 17.1038C13.058 17.0126 13.0444 16.9207 13.0095 16.8361L12.5888 15.8153C12.7507 15.4049 12.9726 15.0207 13.2473 14.6753L14.3415 14.5253C14.4324 14.5132 14.5189 14.4789 14.5935 14.4256C14.7872 14.2881 14.9933 14.169 15.2093 14.0701C15.2928 14.0325 15.3657 13.9747 15.4215 13.9021L16.0965 13.0276C16.5328 12.9623 16.9764 12.9623 17.4128 13.0276L18.0878 13.9021C18.1435 13.9747 18.2165 14.0325 18.3 14.0701C18.5159 14.169 18.7221 14.2881 18.9158 14.4256C18.9903 14.4789 19.0769 14.5132 19.1678 14.5253L20.262 14.6753C20.5365 15.0208 20.7584 15.4049 20.9205 15.8153L20.5005 16.8368C20.4656 16.9215 20.4519 17.0134 20.4608 17.1046C20.4834 17.341 20.4834 17.5791 20.4608 17.8156C20.4519 17.9067 20.4656 17.9986 20.5005 18.0833L20.9213 19.1041C20.7593 19.5145 20.5374 19.8987 20.2628 20.2441Z" fill="white"/></svg>');
      }
    }
  }
}
body.ultimate-view-as-customer-for-woocommerce-enabled {
  padding-top: 64px !important;
}
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: #002e73;
    opacity: 0;
  }
  .loader {
    width: 60px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side,#002e73 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
  }
  @keyframes l7 {
      33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
      50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
      66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
  }
}